@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}
body {
  background-image: url("./game-images/art-image.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: rgb(208, 209, 206);
}
.title {
  text-align: center;
  font-weight: 800;
  color: yellow;
}
.game-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50em;
  height: 40em;
  border-style: solid;
  overflow: hidden;
}

.ball {
  position: absolute;
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: goldenrod;
  /* border-radius: 50%; */
  bottom: 0;
  left: 0px;
}

.block {
  position: relative;
  width: 80px;
  height: 40px;
  background-color: black;
  margin-top: 30px;
}
@keyframes block {
  0% {
    left: 30px;
  }
  100% {
    left: 850px;
  }
}
#b1 {
  width: 120px;
  animation: block 1s infinite linear;
}
#b2 {
  width: 160px;
  animation: block 1s infinite linear;
}
#b3 {
  width: 170px;
  animation: block 2s infinite linear;
}
#b4 {
  width: 160px;
  padding: 0;
  margin-right: 0;
  animation: block 3s infinite linear;
}

.safe {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: green;
}
#startButton {
  margin-left: 10px;
  font-size: 20px;
  padding: 0.8em;
}
#reset {
  position: absolute;
  font-size: 15px;
  padding: 0.8em;
  margin-left: 10px;
  /* float: right; */
  right: 0;
}
.scoreBoard {
  margin-left: 10px;
}

/* creating the start menu*/
.game-container {
  display: none;
  background-color: lightgray;
}
.start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50em;
  height: 40em;
  border-style: solid;
  overflow: hidden;
  z-index: 10;
  background-color: rgb(37, 36, 36);
}

#startBtn {
  position: relative;
  text-align: center;
  top: 50%;
  cursor: pointer;
  text-decoration: blink;
  animation: 2s linear infinite fade;
  color: yellow;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
.life {
  color: yellow;
}
.score {
  color: white;
  margin-left: 10px;
  font-size: 2em;
}

.scoreBox {
  display: flex;
}
