* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
}

.game-container {
  position: relative;
  left: 20%;
  width: 50em;
  height: 40em;
  border-style: solid;
  overflow: hidden;
}
/* 
.line {
  position: relative;
  border-style: solid;
  width: 10em;
}
.line2 {
  position: inherit;
  transform: rotate(90deg);
  width: 20em;
  border-style: solid;
} */

#title {
  text-align: center;
}
.ball {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-color: goldenrod;
  /* border-radius: 50%; */
  bottom: 0;
  left: 0px;
}

.block {
  position: relative; /*must */
  width: 80px;
  height: 40px;
  background-color: black;
  margin-top: 30px;
}
@keyframes block {
  0% {
    left: 30px;
  }
  100% {
    left: 850px;
  }
}
#b1 {
  width: 120px;
  /* animation: block 2s infinite linear; */
}
#b2 {
  /* background-image: url("./game-images/space-invaders.png"); */
  width: 160px;
  /* animation: block 2s infinite linear; */
}
#b3 {
  width: 170px;
  /* animation: block 4s infinite linear; */
}
#b4 {
  width: 160px;
  padding: 0;
  margin-right: 0;
  /* animation: block 5s infinite linear; */
}

.safe {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: green;
}
